<!DOCTYPE html>
<html lang="en" th="http://www.thymeleaf.org" xmlns:>
<html Lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body style="background-color:rgb(228, 227, 156);">


<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent" style="height: 100vh;" class="vh-100 d-flex flex-column align-items-center justify-content-center">
    <!-- Tabs Titles -->


    <!-- Login Form -->
    <form method="post" class="d-flex flex-column mx-auto w-50">
    <h1 style="text-align: center">Login</h1> <br>
      <input type="email" id="email" class="form-control fadeIn second" name="email" required placeholder="email" th:name="email">
      <input type="password" id="password" class="form-control fadeIn third" name="password" required placeholder="password" th:name="password">
      
      
      <button class="btn btn-primary fadeIn fourth mt-2" type="submit">Log In</button>
    </form>

    <!-- Remind Passowrd -->
 
      <a class="underlineHover" href="/resetPassword">Forgot Password?</a>

  </div>
</div>

<!--<form method="post">

    Enter User ID: <input id="email" name="email" placeholder="Email ID" required="required" th:name="email"
                          type="text"/> <br>

    Enter password: <input id="password" name="password" placeholder="Password" required="required" th:name="password"
                           type="password"/> <br> <br> <br>

    <button type="submit">submit</button>

</form>

<a href="/resetPassword">
    <button type="submit"> Reset Password</button>
</a>-->
</body>
</html>